<div class="parent">
    <img src="https://www.artic.edu/iiif/2/{{data.image_id}}/full/843,/0/default.jpg" alt="">
    <div class="text">
        <div class="title">
            <h1>{{data.title}}</h1>
            <b>-by {{data.artist_title}}</b>
        </div>
        <br>
        <p>{{data.provenance_text}}</p>
        <br>
        <p><b>Artwork Title:- </b>{{data.artwork_type_title}}</p>
        <p><b>Date:- </b>{{data.date_start}} to {{data.date_end}}</p>
        <p><b>Origin:- </b>{{data.place_of_origin}}</p>
    </div>
</div>
